page-start {

    .btn-start {
      width: 65%;
      height: 40px;
      font-size: 15px;   
      box-shadow: inset 0 0 0 0 !important; 
      background:#FF7162;
      border-radius:25px;
    }

    .slide-item {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      // height: 400px;
  }


}
