page-profile-academic-edit {

    .edit-profile-button
    {
      width: 90%;
      height: 45px;   
      box-shadow: inset 0 0 0 0 !important; 
      margin-top: -40px;
    }

    .full-width-select {
        max-width: 100% !important;
        width: 100% !important;
    }

    // .item-inner{
    //     border-bottom-color: transparent !important;
    //     box-shadow: none !important;
    // }

}
