<ion-content style="background:#f7f7f7;">

    <div ion-fixed class="bgdheader" style="width:100%;color:#fff; padding:10px;" >
      <table width="100%" border="0">
        <tr>
          <td style="width:20%;"> <div style="font-size:20px; margin-left:10px;" (click) = "openMenu();"> <img src="assets/img/menu_white.png" width="20px" height="20px"> </div> </td>
          <td style="width:45%; font-size:18px; text-align:center;">Profile</td>
          <td style="width:35%; text-align: right; padding-right:10px;">
            <span (click) = "themeSettings();"><img src="assets/img/brush.png" width="25px;" height="25px"></span> &nbsp; &nbsp;                             
            <span (click) = "logout();" ><img src="assets/img/logout.png" width="25px" height="25px"></span>
          </td>
        </tr>
      </table>
    </div>
  
    <div class="bgdheader" style="height:145px; width:100%; margin-top:33px;"></div>
  
    <div style="margin-left:15px; background:#fff; margin-top:-78px; margin-right:15px; text-align:center; border:1px solid #ddd; border-radius:7px;">
      <div style="margin-top:-45px; ">
        <img src="{{ photo }}" (click)="uploadUserProfilePhoto();" width="90px" height="90px" style="border-radius:50%;">
      </div>

      <div style="margin-top:10px;"><b>{{ dataProfile?.fullname }}</b></div>
      <div style="padding-bottom:5px; font-size: 12px;">@ {{ dataProfile?.mobile }}</div>

      <div style="padding-top:10px; padding-bottom:7px;">
        <table width="100%">
          <tr>
            <td width="50%">
              <div>
                <div style="font-size:16px;">{{ dataProfile?.totalCoins }}</div>
                <div style="color:#969FAA; font-size:12px;">COINS</div>                
              </div>
            </td>

            <td width="50%">
              <div>
                <div style="font-size:16px;">{{ dataProfile?.currentLevel }}</div>
                <div style="color:#969FAA; font-size:12px;">TOTAL LEVELS</div>                
              </div>
            </td>           
          </tr>
        </table>
      </div>
  
      <div style="text-align:center; margin-left:15px; margin-right:15px;">
        <table width="100%" style="border-top:1px solid #ddd;">
          <tr>
            <td style="width:25%">
              <div (click)="goToPage('ProfilePage');" style="font-size:20px; margin-top:5px; margin-bottom:5px; border-right:1px solid #dddddd;" ><img src="assets/img/profile_user.png" width="35px" height="35px"></div>
            </td>
            <td style="width:25%">
              <div (click)="goToPage('ProfileTransactionPage');" style="font-size:20px; margin-top:5px; margin-bottom:5px; border-right:1px solid #ddd;" ><img src="assets/img/trans_history.png" width="30px" height="30px"></div>              
            </td>
            <td style="width:25%">
              <div (click)="goToPage('ProfileSubscriptionPage');" style="font-size:20px; margin-top:5px; margin-bottom:5px; border-right:1px solid #ddd;" ><img src="assets/img/subsc_history.png" width="21px" height="22px"></div>              
            </td>
            <td style="width:25%">
              <div (click)="goToBack();" style="font-size:20px; margin-top:5px; margin-bottom:5px;" ><img src="assets/img/invite_friend.png" width="25px" height="25px"></div>              
            </td>                                    
          </tr>
        </table>
      </div>
  
    </div>

    <!-- INVITE FRIENDS -->

    <div style="margin-top:10px; margin-left:15px; margin-right:15px; margin-bottom: 10px; background:#ffffff; border-radius:7px;">

      <div style="padding-top:25px;">

        <div>
          <div>
            <ion-item-group *ngFor="let group of groupedContacts">
              <ion-item *ngFor="let contact of group.contacts" class="contactlist">
                <ion-label>
                  {{contact.name}}
                  <p>{{contact.number}}</p>
                </ion-label>
                <ion-checkbox item-right (ionChange)="getGroupMember(contact.name, contact.number, $event)" value="contact.number"></ion-checkbox>
              </ion-item>
            </ion-item-group>
          </div>
    
          <div style="padding-bottom:15px;">
            <button ion-button (click)="addInvitationFriend();" style="width:100%; outline: none !important; box-shadow: none !important; background:#13CE66; color:#fff; ">
              <div style="text-align:left; padding-top:7px; padding-bottom:7px; color:#fff; font-size: 16px;">ADD FRIEND</div>
            </button>
          </div>
        </div>

      </div>
    </div>

  </ion-content>