page-feedback {

    .feedback-button 
    {
      width: 100%;
      height: 45px;
      font-size: 18px;   
      box-shadow: inset 0 0 0 0 !important; 
      margin-top: -25px;
    }

    .full-width-select {
        max-width: 100% !important;
        width: 100% !important;
    }

    .item-inner{
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }


}
