page-network-connection {

    // .header-bg{
    //     background: color($colors, primary, base);
    //     color:#fff;
    // }

    .btn-start {
        width: 60%;
        height: 45px;
        font-size: 15px;   
        box-shadow: inset 0 0 0 0 !important; 
        background:#33A2EE;
        border-radius:25px;
    }

}
