.pink-theme {

  .bgdheader{
    background-color: #F86FBA;  
    color: #ffffff;    
  }

  .txt-color {
    color:#F86FBA;
  }

  .home-header {
    background-color: #F7ABD5;
  }

  ion-button{
    background-color: #F86FBA;
    color: #ffffff;          
  }

  .support-details{
    color:#F86FBA;
  }

}
