.violet-theme {

  .bgdheader{
    background-color: #7F007F;  
    color: #ffffff;    
  }

  .txt-color {
    color:#7F007F;
  }

  .home-header {
    background-color: #B174B1;
  }

  ion-button{
    background-color: #7F007F;
    color: #ffffff;          
  }

  .support-details{
    color:#7F007F;
  }

}
