.teal-theme {

  .bgdheader{
    background-color: #00BFA5;  
    color: #ffffff;    
  }

  .txt-color {
    color:#00BFA5;
  }

  .home-header {
    background-color: #86E3D6;
  }

  ion-button{
    background-color: #00BFA5;
    color: #ffffff;          
  }

  .support-details{
    color:#00BFA5;
  }

}
