.orange-theme {

  .bgdheader{
    background-color: #FF7043;  
    color: #ffffff;    
  }

  .txt-color {
    color:#FF7043;
  }

  .home-header {
    background-color: #FAA98F;
  }

  ion-button{
    background-color: #FF7043;
    color: #ffffff;          
  }

  .support-details{
    color:#FF7043;
  }

}
