.green-theme {

  .bgdheader{
    background-color: #1B5E20;  
    color: #ffffff;    
  }

  .txt-color {
    color:#1B5E20;
  }

  .home-header {
    background-color: #639566;
  }

  ion-button{
    background-color: #1B5E20;
    color: #ffffff;          
  }

  .support-details{
    color:#1B5E20;
  }

}
