.indigo-theme {

  .bgdheader{
    background-color: #1A237E;  
    color: #ffffff;    
  }

  .txt-color {
    color:#1A237E;
  }

  .home-header {
    background-color: #666CAF;
  }

  ion-button{
    background-color: #1A237E;
    color: #ffffff;          
  }

  .support-details{
    color:#1A237E;
  }

}
