.light-theme {
    // ion-content {
    //   background-color: #fff;
    // }
   
    // .toolbar-background {
    //   background-color: #fff;
    // }

    .bgdheader{
      background-color: #2962FF; 
      color: #ffffff;     
    }

    .txt-color {
      color:#2962FF;
    }

    .home-header {
      background-color: #85A4FA;
    }

    ion-button{
      background-color: #2962FF;
      color: #ffffff;           
    }

    .support-details{
      color:#2962FF;
    }
}