.amber-theme {

  .bgdheader{
    background-color: #FFC440;  
    color: #ffffff;    
  }

  .txt-color {
    color:#FFC440;
  }

  .home-header {
    background-color: #FDDC91;
  }

  ion-button{
    background-color: #FFC440;
    color: #ffffff;          
  }

  .support-details{
    color:#FFC440;
  }

}