page-subject {

    // .header-bg{
    //     background: color($colors, primary, base);
    //     color:#fff;
    // }

    .level-complete {

        background:#73D74B;
        width:82px;
        height: 80px;

    }

    .level-lock {

        background:#FD575B;
        width:82px;
        height: 80px;

    }

    .level-current {

        background:#d4e157;
        width:82px;
        height: 80px;

    }

}
